.symbol-is-private { display: none; }
.anchor-title, .anchor-title-always-left {
	position: relative;
}
.anchor-link, .anchor-link-always-left {
	position: absolute;
	right: calc(100% + 1rem);
	top: 0;
}
.classbox {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1), 0 0.25em rgba(10, 10, 10, 0.1);
	color: #4a4a4a;
	display: block;
	overflow: hidden; /* Necessary so that margin inside the box doesn't "leak" out of the classbox */
}
@media screen and (max-width:1024px) {
	.anchor-link {
		left: 0;
		right: auto;
	}
	.anchor-title {
		padding-left: 1em;
	}
}
.sidebar-layout {
	display: flex;
	width: 100%;
}
.sidebar-left {
	padding: 1.5rem;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: inherit transparent;

	display: flex;
	min-width: 480px;
	width: 540px;
	height: 100vh;
	position: sticky;
	top: 0;
}
.is-fullwidth {
	width: 100%;
}
.main-content {
	min-width: 480px;
	width: 100%;
}
@media screen and (max-width:1200px) {
	.sidebar-layout {
		display: block;
		width: 100%;
	}
	.sidebar-overflow-button {
		visibility: visible;
	}
	.sidebar-left {
		height: auto;
		width: 100%;
		position: relative;
		top: auto;
		/* instead - for collapsible fixed sidebar:
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		background: white;
		z-index: 999;
		*/
	}
}
.logo {
	max-width: 144px;
	max-height: 144px;
}
.rounded-border {
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
}
pre {
	scrollbar-width: thin;
	scrollbar-color: inherit transparent;
}
.content pre {
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
	font-size: 0.85rem;
	padding: .5rem .75rem !important;
	margin-bottom: 1rem;
}
.codehilite:not(.content *) > pre {
	font-size: 0.85rem;
	padding: 0;
	margin: 0;
	scrollbar-width: thin;
	scrollbar-color: inherit transparent;
}
code:not(pre *) {
	padding: 0.125em 0.25em 0.125em;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
	color: inherit;
}
.pre-wrap {
	white-space: pre-wrap;
	word-break: break-word; }
.hover-has-background-grey:hover {
	background-color: hsl(0, 0%, 86%); }
.nav-content li {
	margin: 0.25rem; }
.nav-content li a {
	color: inherit; }
.nav-content li a:hover {
	color: #485fc7; }
.nav-content > ul > li {
	font-weight: 700; }
.nav-content li ul {
	font-weight: 400;
	padding-left: 1rem;
	margin-bottom: 0.5rem; }
.button.is-white-transparent {
	background-color: transparent;
	border-color: transparent;
	color: #0a0a0a; }
.button.is-white-transparent:hover, .button.is-white-transparent.is-hovered {
	background-color: #f9f9f9;
	border-color: transparent;
	color: #0a0a0a; }
.button.is-white-transparent:focus, .button.is-white-transparent.is-focused {
	border-color: transparent;
	color: #0a0a0a; }
.button.is-white-transparent:focus:not(:active), .button.is-white-transparent.is-focused:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25); }
.button.is-white-transparent:active, .button.is-white-transparent.is-active {
	background-color: #f2f2f2;
	border-color: transparent;
	color: #0a0a0a; }
