{% extends "frame.html.jinja2" %}
{% block title %}{{ error }}{% endblock %}
{% block body %}
<main class="container">
	<div class="section">
		<div class="content">
			<h1>{{ error }}</h1>
			{% if details | trim %}
			<pre>{{ details }}</pre>
			{% endif %}
			<hr>

			{% if footer_text %}
			<footer>{{ footer_text }}</footer>
			{% endif %}

			{{ attribution() }}
		</div>
	</div>
</main>
{% endblock %}
