{% macro attribution() -%}
	{% block attribution %}
		<div class="section has-text-centered">
			<a class="attribution has-text-hover-link" title="pdoc: Python API documentation generator" href="https://pdoc.dev">
				<span>
					built with <span class="is-hidden">pdoc</span>
				</span>
				<img alt="pdoc logo" src="data:image/svg+xml, {%- filter urlencode %}{% include "pdoc-logo.svg" %}{% endfilter %}"/>
			</a>
		</div>
	{% endblock %}
{%- endmacro %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="generator" content="pdoc {{ __version__ }}" />
	<title>{% block title %}{% endblock %}</title>
	{% block favicon %}
		<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,{% filter urlencode %}{% include "favicon.svg" %}{% endfilter %}"/>
	{% endblock %}

	{% block head %}{% endblock %}
	{% block style %}
		{% filter minify_css %}
			<style>{% include 'css/main.css' %}</style>
			<style>{% include 'css/extra.css' %}</style>
			<style>{% include 'css/syntax-highlighting.css' %}</style>
		{% endfilter %}
	{% endblock %}
</head>
<body>{%- block body -%}{%- endblock -%}</body>
</html>
