{% extends "module.html.jinja2" %}
{% block title %}Module List &ndash; pdoc {{ __version__ }}{% endblock %}
{% block nav_submodules %}
	{% call(m) navlist(all_modules, label="Available Modules") %}
		<li><a href="{{ m.replace(".","/") }}.html" class="p-1">
			<span class="icon-text is-flex-wrap-nowrap {{' '.join(classes)}}">
				<span class="icon"><i class="fa-solid fa-cubes"></i></span>
				<span>{{m}}</span>
			</span>
		</a></li>
	{% endcall %}
{% endblock %}
{% block body %}{{ define_nav() }}{% endblock %}
{% block nav_module_contents %}{% endblock %}
{% block nav_parent_module %}{% endblock %}
{% block nav_member_list %}{% endblock %}
{% block module_info %}{% endblock %}
{% block module_contents %}{% endblock %}
