{% set rootprefix = "../" * module.modulename.count(".") if module else "" %}
<script>
    function escapeHTML(html) {
        return document.createElement('div').appendChild(document.createTextNode(html)).parentNode.innerHTML;
    }

    const originalContent = document.querySelector(".main-content main");
    let currentContent = originalContent;

    function setContent(innerHTML) {
        {# Replace the entire page contents. Calling this with an empty argument restores the original page. #}
        let elem;
        if (innerHTML) {
            elem = document.createElement("main");
            elem.classList.add("container");
            elem.innerHTML = innerHTML;
        } else {
            elem = originalContent;
        }
        if (currentContent !== elem) {
            currentContent.replaceWith(elem);
            currentContent = elem;
        }
    }

    function getSearchTerm() {
        return (new URL(window.location)).searchParams.get("search");
    }

    {# the control flow here is: search input -> update location -> onInput #}
    const searchBox = document.querySelector("input[type=search].search-content");
    searchBox.addEventListener("input", function () {
        let url = new URL(window.location);
        if (searchBox.value.trim()) {
            url.hash = "";
            url.searchParams.set("search", searchBox.value);
        } else {
            url.searchParams.delete("search");
        }
        history.replaceState("", "", url.toString());
        onInput();
    });
    window.addEventListener("popstate", onInput);


    let search, searchErr;

    async function initialize() {
        {# Get the search index and compile it if necessary.
           This function will only be called once. #}
        try {
            search = await new Promise((resolve, reject) => {
                const script = document.createElement("script");
                script.type = "text/javascript";
                script.async = true;
                script.onload = () => resolve(window.pdocSearch);
                script.onerror = (e) => reject(e);
                script.src = "{{ rootprefix }}search.js";
                document.getElementsByTagName("head")[0].appendChild(script);
            });
        } catch (e) {
            console.error("Cannot fetch pdoc search index");
            searchErr = "Cannot fetch search index.";
        }
        onInput();

        {# if the user clicks an anchor link in the navigation, we need to restore the original contents. #}
		document.querySelectorAll(".sidebar-left nav a").forEach(function(elem) {
			elem.addEventListener("click", e => {
				searchBox.value = "";
				searchBox.dispatchEvent(new Event("input"));
			});
        });
    }

    function onInput() {
        setContent((() => {
            const term = getSearchTerm();
            if (!term) {
                return null
            }
            if (searchErr) {
				return `<section class="section py-0 my-6"><h2 class="title is-4">Error: ${searchErr}</h2></section>`
            }
            if (!search) {
				return `<section class="section py-0 my-6"><h2 class="title is-4">Searching...</h2></section>`
            }

            window.scrollTo({top: 0, left: 0, behavior: 'auto'});

            const results = search(term);

            let html;
            if (results.length === 0) {
				html = `<section class="section py-0 my-6"><h2 class="title is-4">No search results for '${escapeHTML(term)}'.</h2></section>`
            } else {
				html = `<section class="section py-0 my-6"><h3 class="title is-5">${results.length} search result${results.length > 1 ? "s" : ""} for '${escapeHTML(term)}'.</h3></section>`
            }
            for (let result of results.slice(0, 10)) {
                let doc = result.doc;
                let url = `{{ rootprefix }}${doc.modulename.replaceAll(".", "/")}.html`;
                if (doc.qualname) {
                    url += `#${doc.qualname}`;
                }

                let heading;
                switch (result.doc.type) {
                    case "function":
						heading = `<pre class="p-2 codehilite rounded-border pre-wrap hover-has-background-grey"><span class="icon is-small mr-1"><span class="fa-solid fa-circle-dot"></span></span><span class="has-text-weight-bold">${doc.funcdef}</span><span class="has-text-weight-bold"> </span><span class="has-text-weight-bold has-text-danger">${doc.fullname}</span><span class="has-text-weight-bold">(${doc.parameters.join(", ")}):</span></pre>`
                        break;
                    case "class":
						heading = `<pre class="p-2 codehilite rounded-border pre-wrap hover-has-background-grey"><span class="icon is-small mr-1"><span class="fa-solid fa-diagram-project"></span></span><span class="has-text-weight-bold">class</span><span class="has-text-weight-bold"> </span><span class="has-text-weight-bold has-text-danger">${doc.fullname}</span><span class="has-text-weight-bold">:</span></pre>`
                        break;
                    case "module":
						heading = `<pre class="p-2 codehilite rounded-border pre-wrap hover-has-background-grey"><span class="icon is-small mr-1"><span class="fa-solid fa-cube"></span></span><span class="has-text-weight-bold has-text-danger">${doc.fullname}</span></pre>`
                        break;
					default:
                    case "variable":
						heading = `<pre class="p-2 codehilite rounded-border pre-wrap hover-has-background-grey"><span class="icon is-small mr-1"><span class="fa-solid fa-dice-d6"></span></span><span class="has-text-weight-bold has-text-danger">${doc.fullname}</span></pre>`
                        break;
                }
                html += `
                        <section class="section search-result my-6 py-0">
							<a href="${url}" class="attr ${doc.type}">${heading}</a>
							<div class="mx-5 mb-5 mt-4 content">${doc.doc}</div>
                        </section>
                    `;

            }
            return html;
        })());
    }

    if (getSearchTerm()) {
        initialize();
        searchBox.value = getSearchTerm();
        onInput();
    } else {
        searchBox.addEventListener("focus", initialize, {once: true});
    }

    {# keyboard navigation for results #}
    searchBox.addEventListener("keydown", e => {
        if (["ArrowDown", "ArrowUp", "Enter"].includes(e.key)) {
            let focused = currentContent.querySelector(".search-result.focused");
            if (!focused) {
                currentContent.querySelector(".search-result").classList.add("focused");
            } else if (
                e.key === "ArrowDown"
                && focused.nextElementSibling
                && focused.nextElementSibling.classList.contains("search-result")
            ) {
                focused.classList.remove("focused");
                focused.nextElementSibling.classList.add("focused");
                focused.nextElementSibling.scrollIntoView({
                    behavior: "smooth",
                    block: "nearest",
                    inline: "nearest"
                });
            } else if (
                e.key === "ArrowUp"
                && focused.previousElementSibling
                && focused.previousElementSibling.classList.contains("search-result")
            ) {
                focused.classList.remove("focused");
                focused.previousElementSibling.classList.add("focused");
                focused.previousElementSibling.scrollIntoView({
                    behavior: "smooth",
                    block: "nearest",
                    inline: "nearest"
                });
            } else if (
                e.key === "Enter"
            ) {
                focused.querySelector("a").click();
            }
        }
    });
</script>
